<div class="form-group row mx-5">
  <%= form_for(@article) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, class:"form-control", placeholder: "Your article name" %>
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control", :rows => "5", placeholder: "Write your thoughts" %>
    <%= f.submit class:"btn btn-outline-secondary mt-3" %>
  <% end %>
</div>
