<div class="form-group row">

  <%= form_for(@article) do |f| %>
    <%= f.label :title, class: "form-group" %>
    <%= f.text_field :title, class: "form-group" %>
    <%= f.label :content, class: "form-group row" %>
    <%= f.text_field :content, class: "form-group row"  %>
    <%= f.submit %>
  <% end %>
</div>
