<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/c32558f97b.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
      <div class="container-fluid">
        <%= link_to "Wikinimous", root_path, class: "navbar-brand mx-3" %>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <%= link_to 'New article', new_article_path, class: "navbar-brand" %>
        </div>
      </div>
    </div>

    <div class="container mt-3 pt-5">
      <%= yield %>
    </div>
  </body>
</html>
