<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar sticky-top navbar-dark bg-primary px-5">
      <span class="navbar-brand">Wikinimous</span>
      <%= link_to 'New article', new_article_path, class: "navbar-brand"  %>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
